.content__desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Inter', Helvetica, sans-serif;
}

.content__desktop.content-sticky {
    position: fixed; /* Фиксированное позиционирование */
    top: 30%; /* Отступ сверху */
    max-width: 180px;
}


.content__header {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: #000;
    margin: 0 0 5px 0;
    padding: 0 0 0 15px;
}

.content__list-link {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content__link-container {
    padding: 5px 15px;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    list-style: none;
    /* margin: 0 0 0 15px; */
    margin: 0;
}

.content__link-container.active {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.content__link {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    text-wrap: nowrap;
}  

.content__link.active {
    color: #fff;
    font-size: 13px;
}

.content__mobile {
    max-width: 694px;
}

@media screen and (max-width: 1279px) {

    .content__mobile {
        display: flex;
        justify-content: center;
        font-family: 'Inter', Helvetica, sans-serif;
    }
    .content-mobile__wrapper {
        width: calc(100vw - 18px);
        box-sizing: border-box;
    }

    .content-mobile__list-link {
        font-weight: 400;
        font-size: 10px;
        letter-spacing: -0.02em;
        color: rgba(0, 0, 0, 1);
        padding: 0;
        margin: 0 auto; /* Центрируем список */
        box-sizing: border-box;
    }

    .content-mobile__link-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;
        padding: 15px 0;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
    }

    .content-mobile__link-container:first-of-type {
        border-top: 1px solid #000;
    }

    .content-mobile__link {
        /* font-weight: 700; */
        font-weight: 400;
        font-size: 19px;
        color: rgba(34, 34, 34, 1);
        margin: 0;
        line-height: 125%;
    }

    .content-mobile__img {
        background-image: url('../../assets/arrow-content-mobile.svg');
        width: 17px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 768px) {
    .content-mobile__list-link {
        width: 100%;
        max-width: 100vw;
    }

    .content-mobile__link {
        font-size: 18px;
    }
}

