.tariffs__success {
    margin: 0 0 0;
    font-family: 'Inter', Helvetica, sans-serif;
    max-width: 690px;
}

.tariffs__success-container {
}

.tariffs__text.list {
    margin: 0 0 10px 0;
}

.tariffs__text.li{
    margin: 0;
    line-height: 150%;
    max-width: 610px;
}

.tariffs__success-arrow {
    background-image: url('../../assets/arrow-tariifs.svg');
    width: 20px;
    height: 16px;
    background-size: contain;
    margin: 8px 0 0;
    background-repeat: no-repeat;
}

.tariffs__success-list {
    margin: 0;
    list-style: none;
    padding: 0;  
}

.tariffs__success-flex {
    display: flex;
    gap: 11px;
    /* align-items: center; */
    align-items: flex-start;
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 767px) {
    .tariffs__success {
        margin: 0 0 0;
    }

    .tariffs__text.li{
        padding: 0 20px 0 0;
        line-height: 150%;
        max-width: 77vw;
    }

    .tariffs__success-flex {
        gap: 10px;
    }
}