.app {
    background-color: #000000;
    box-sizing: border-box;
    color: #2F2A30;
    margin: 0 auto;
    font-family: 'Actor', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    animation: fadeIn 2s forwards;
    position: relative;
}

.special-page {
    background-color: #f7f8fc; /* Цвет фона для указанных страниц */
}

.button:hover {
    transition: opacity 0.2s ease; 
    opacity: 0.7;
}

.link {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
  
.link span {
    position: relative;
    z-index: 1;
}

.link::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 10px;
    transition: 0.5s;
}

.link:hover::before {
    opacity: 0.7;
}
  
.link::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
}
  
.link:hover:after {
    opacity: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
