.tariffs__about {
    margin: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Helvetica, sans-serif;
    max-width: 690px;
}

.tariffs__advice {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #222;
    margin: 0 ;
}


.tariffs__photo-us {
    background-image: url('../../assets/about-tariffs-desk.webp');
    background-repeat: no-repeat;
    width: 690px;
    height: 373px;
    margin: 16px 0;
    background-size: contain;
}

.tariffs__text.span {
    font-weight: 700;
}

.tariffs__text.quotation {
    border-left: 1px solid #000 ;
    padding-left: 15px;
    margin-left: 17px;
    margin: 16px 0 16px 17px;
}

.tariffs__text-flex {
    display: flex;
    gap: 10px;
}

.tariffs__text.quotation.platform {
    margin-top: 5px;
}

@media screen and (max-width: 1279px) {
    
    .tariffs__advice {
        font-size: 26px;
    }

}
@media screen and (max-width: 767px) {
    .tariffs__about {
        margin: 0 0 0 ;
    }
    
    .tariffs__advice {
        font-size: 26px;
        margin: 0 0 26px ;
        text-align: left;
    }
    
    .tariffs__photo-us {
        background-image: url('../../assets/about-tariffs-mobile.webp');
        width: 293px;
        height: 347px;
        margin: 16px 0;
        align-self: center;
    }
    
    .tariffs__text.quotation {
        border-left: 1px solid #000 ;
        padding-left: 15px;
        margin-left: 10px;
        padding-top: 10px;
        width: auto;
    }
    
    .tariffs__text-flex {
        display: flex;
        gap: 10px;
    }
}

