.tariffs__cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px 0;
}

.tariffs__cost-header {
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
    color: #000;
    margin: 0 0 30px;
}

.tariffs__cost-container {
    max-width: 649px;
    margin: 0;
}


@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 767px) {
    .tariffs__cost {
        margin: 0 0 20px 0;
    }

    .tariffs__cost-header {
        font-size: 20px;
        margin: 10px 0 25px;
        text-align: left;
    }

    .tariffs__cost-container {
        max-width: 649px;
        /* margin: 0 18px; */
    }
    
}