/* общее для всех хедеров */

.sticky {
    position: sticky;
    top: 0px;
    z-index: 10;
}
.sticky__new {
    transition: all 0.5s;
}

.sticky__new--down {
    top: -8rem; /* -24 (в Tailwind) соответствует -6rem */
}

.sticky__new--up {
    top: 0;
}


.header__desktop-dark {
    background: #000000;
}
.header__main-page {
    padding: 15px 20px 0;
}

/* desktop */
.header__margin {
    border-radius: 30px;
    margin: 15px 20px 0;
    background: rgba(0, 0, 0, 1);
    /* background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px); */

}

.header__desktop {
    margin: 0 20px 0;
    padding: 18px 50px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__tablet {
    display: none;
}

.header__mobile {
    display: none;
}

.header__desktop-logo {
    width: 153px;
    height: 43px;
}

.header__desktop-logo-img {
    width: 153px;
    height: 43px;
}

.header__desktop-container {
    display: flex;
    gap: 70px;
    align-items: flex-end
}

.header__desktop-navs {
    display: flex;
    gap: 25px;
    padding-bottom: 5px;
}

.header__desktop-nav {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
    text-decoration: none;
}

.header__desktop-nav.disabled {
    pointer-events: none;
    color: gray;
    cursor: not-allowed; 
    opacity: 0.6;
}


.header__desktop-nav.active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.header__desktop-nav:hover {
    color: rgba(255, 255, 255, 1);

}

.header__desktop-registers {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__desktop-register {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #fff;
    font-family: 'Actor', Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 1px solid #92cbad;
    border-radius: 30px;
    padding: 6px 24px;
    cursor: pointer;
    opacity: 1;
    margin: 0;
}

.header__desktop-login {
    opacity: 1;
    cursor: pointer;
    padding: 10px 21px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #fff;
    border-radius: 10px;
    background: #92cbad;
    text-decoration: none;
    font-family: 'Actor', Arial, Helvetica, sans-serif;
    margin: 0;
}

.header__desktop-logedin {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__desktop-saved {
    background: url('../../assets/save-header-desk.svg');
    width: 27px;
    height: 37px;
}

.header__desktop-saved.active {
    background: url('../../assets/save-header-desk.-active.svg');
}

.header__desktop-name-wrapper {
    display: flex;
    border-radius: 100%;
    background: #fff;
    height: 37px;
    width: 37px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
}

.header__desktop-name {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #2f2a30;
    font-family: 'Actor', Arial, Helvetica, sans-serif;
}

.header__desktop-nav-soon {
    position: absolute;
    /* right: -45px; */
    left: 80px;
    top: 0;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    background: rgba(125, 86, 216, 0.5);
    border-radius: 2px;
}

@media screen and (max-width: 1279px) {

    .header__tablet-menu {
        background: url('../../assets/menu-main-tablet.svg');
        width: 31px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
    }
    
    .header__mobile-container {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    
    .header__desktop {
        display: none;
    }

    .header__tablet {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-between;
        padding: 11px 20px 11px;
        align-items: center;
        height: 58px;
    }

    .header__margin {
        margin: 0 10px 0;
    }

    .header__desktop-logo {
        width: 37px;
        height: 37px;
    }
    
    .header__desktop-logo-img {
        width: 100%;
        height: 100%;
    }

    .header__desktop-name-wrapper {
        display: flex;
        border-radius: 100%;
        background: #fff;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        padding: 0px 0px;
        height: 35px;
        width: 35px;
    }
    .header__desktop-name-wrapper-icon {
        width: 10px;
        height: 10px;
    }

    .header__desktop-logedin {
        gap: 20px;
    }
    .header__desktop-menu {
        border: none;
        all: unset; 
        cursor: pointer;
        width: 24px; 
        height: 18px;
    }
}

@media screen and (max-width: 1279px) {

    .header__main-page {
        background: #000000;
        padding: 10px 10px 0;
    }

    .header__tablet { 
        display: none;
    }

    .header__margin {
        margin: 0 10px 0;
    }

    .header__mobile {
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
        padding: 0 12px 0 8px;
        align-items: center;
        height: 58px;
        transition: transform 0.3s ease;
    }
    .header__mobile {

    }

    .header__desktop-registers {
        display: flex;
        gap: 10px;
    }
    
    .header__desktop-register {
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 0;
        width: 90px;
        justify-content: center;
        height: 36px;
    }
    
    .header__desktop-save-wrapper {
        width: 22px;
        height: 23px;
    }

    .header__desktop-save-wrapper-icon {
        background: url('../../assets/save-header-mobile.svg');
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .header__desktop-save-wrapper-icon.active {
        background: url('../../assets/save-header-mobile-active.svg');
        width: 100%;
        height: 100%;
    }
    .header__modile-wrapper-saved {
        display: flex;
        gap: 10px;
    }

    .header__desktop-name-wrapper {
        height: 26px;
        width: 26px;
    }
    .header__desktop-menu-icon {
        height: 18px;
        width: 32px;
    }
    .header__desktop-filter-wrapper-icon {
        all: unset; 
        background: url('../../assets/filter-header-mobile.svg');
        background-repeat: no-repeat;
        width: 31px;
        height: 30px;
        cursor: pointer;
        position: relative;
    } 

    .header__desktop-filter-wrapper-icon_active {
        border-radius: 100%;
        background-color: #7D56D8;
        position: absolute;
        width: 10px;
        height: 10px;
        top: -2px;
        right: -1px;
    }

    .header__modile-wrapper-filter{
        display: flex;
        gap: 12px;
        align-items: center;
    }
    .header__desktop-menu-document {
        border: none;
        all: unset; 
        cursor: pointer;
        width: 24px; 
        height: 18px;
    }

    .header__mobile-container {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .header__desktop-login {
        padding: 8px 10px;
    }
}