.reset__greeting {
    max-width: 200px;
}

.reset__container {
    display: flex;
    align-items: flex-end;
    align-items: center; 
    flex-direction: column;
}


.reset__submit {
    background: rgba(255, 255, 255, 1);;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.44s ease, box-shadow 0.445s ease; /* Объединены переходы */
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    padding: 10px 0;
    width: 346px;
}

.reset__submit:disabled {
    opacity: 0.5;
    cursor:auto;
}

.reset__text {
    margin-top: 10px;
}
