
.forgotten-password__container {
    display: flex;
    align-items: flex-end;
    align-items: center; 
    flex-direction: column;
    position: relative;
}

.forgotten-password__greeting {
    max-width: 314px;
}

.forgotten-password__form {
    min-width: 314px;
}

.forgotten-password__info {
    bottom: -55px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    max-width: 240px;
    position: absolute;
}

.forgotten-password__submit {
    margin-top: 10px;
}